

<%= image_tag(@cat_pic_url) %>

<%= form_with url: "/ship", method: :post do |form| %>

  <%= hidden_field_tag :cat_url, @cat_pic_url %>
  <%= form.label :cat_name, "Please Name the Feline: " %>
  <%= form.text_field :cat_name %>
  <%= form.submit "Send Cat for Processing" %>

<% end %>

<%= button_to "Click to Acquire Another Cat.", action: "get_cat" %>